<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
  <!--First slide-->
  <mdb-slide>
    <!--Mask color-->
    <div class="view hm-indigo-light">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source
          src="https://mdbootstrap.com/img/video/Lines.mp4"
          type="video/mp4"
        />
      </video>
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <!--Mask color-->
    <div class="view hm-purple-slight">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source
          src="https://mdbootstrap.com/img/video/animation-intro.mp4"
          type="video/mp4"
        />
      </video>
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Super light mask</h3>
        <p>Secondary text</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <!--Mask color-->
    <div class="view hm-black-strong">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source
          src="https://mdbootstrap.com/img/video/cube.mp4"
          type="video/mp4"
        />
      </video>
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Third text</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--Carousel Wrapper-->
